{% extends "base.html" %}
{% block content %}

<div class="mx-auto bg-white p-3 monospaced" style="max-width:320px;">

<div class="text-center double-height">
<img src= "https://moffassatravellers.co.tz/favicon.ico"  width="70">
<h5 class="fw-bold">SMART SHOP</h5>
<p class="small">TIN: 123456789</p>
<p class="small">SALE: {{ sale.id }}</p>
<p class="small">{{ sale.date }}</p>
</div>

<div class="dashed-line"></div>

{% for i in sale.items %}
<div class="d-flex justify-content-between small">
<span>{{ i.product.name }} x{{ i.qty }}</span>
<span>{{ "%.2f"|format(i.product.price*i.qty) }}</span>
</div>
{% endfor %}

<div class="dashed-line"></div>

<div class="d-flex justify-content-between small">
<span>TOTAL</span><span>{{ "%.2f"|format(total) }}</span>
</div>
<div class="d-flex justify-content-between small">
<span>VAT 18%</span><span>{{ "%.2f"|format(vat) }}</span>
</div>
<div class="d-flex justify-content-between fw-bold">
<span>GRAND</span><span>{{ "%.2f"|format(grand) }}</span>
</div>

<div class="dashed-line"></div>

<div class="text-center">
<img src="/static/qrcodes/{{ qr_file }}" width="110">
</div>

<div class="dashed-line"></div>

<form method="POST">
<input name="email" class="form-control mb-2" placeholder="Gmail">

<button class="btn btn-dark w-100">Send Email</button>
</form>

<button onclick="window.print()" class="btn btn-outline-dark w-100 mt-2">Print</button>

</div>

{% endblock %}
